<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>
              saludador
            </p>
        </div>
        <div class="col-md-6">
            <p>
              works!
            </p>
        </div>
    </div>
</div>
            