<form [formGroup]="fg" 
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['descripcion'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResult;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')" class="alert alert-danger" role="alert">
            nombre requerido!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="alert alert-danger" role="alert">
            nombre invalido!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="alert alert-danger" role="alert">
            nombre debe tener por lo menos {{minLongitud}} de largo!
        </div>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <textarea name="descripcion" class="form-control" id="descripcion" [formControl]="fg.controls['descripcion']">
        </textarea>
         <div *ngIf="!fg.controls['descripcion'].valid">
            nombre invalido
        </div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
